<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username%></title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>
    <h1>hellow <%= username%></h1>
    <form action="/" method="post">
        <textarea name="story" id="" cols="30" rows="10" placeholder="What's happening"></textarea>
        <br>
        <input type="submit" value="tweet">
    </form>
        <div>
        <% tweets.forEach(item=>{ %>
            <%= item.by.username%>
            <br>
            <%= item.story%>
            <hr>
        <% }) %>
        </div>
</body>
</html>